<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iot20-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/947a7a75-e13e-4b22-abda-ebfbbf85cb08/resourceGroups/IOT20/providers/Microsoft.Web/sites/iot20-func</ResourceId>
    <UserName>$iot20-func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://iot20-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>